<a href="https://colab.research.google.com/github/DavePatBulaso/CPEN21A-PLD-1-1/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indentation

In [ ]:
if 5>3:
  print("Five is greater than 3")

Variable Declaration

In [17]:
#variable with a single value

x=5
y=3
if x>y:
  print("x is greater than y")

#variable with multiple values

a,b = 1,2
print("The value of a is: ",a)
print("The value of a is: ",b)

x = y = z = "four"
print(x)
print(y)
print(z)

x is greater than y
The value of a is:  1
The value of a is:  2
four
four
four

Output Variable

In [21]:
o = "is enjoying"
print("Python programming "+ o)     #append is enjoying

p = "Python "
z = p+o
print(z)

Python programming is enjoying
Python is enjoying

#Casting and type() Function

In [12]:
f = int(4)      #integer
g=float(4)      #decimal/fractional

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

Double quote or single quote

In [13]:
name = "Maria"
name1 = 'Rizette'

print(name)
print(name1)

Maria
Rizette

Case Sensitive

In [15]:
a = "Ana"
print(a)

Ana

One Value to Multiple Variables

In [16]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four